@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Ranchers&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Reggae+One&display=swap');
*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.input{
  height: 2rem;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgba(39, 39, 37, 0.521) ;
  outline: none;
  font-size: 1.5rem;
  background-color: rgb(202, 197, 197);
  margin-top: 1rem;
  padding:1rem;
  font-family:'Montserrat', cursive;
}
button{
  background-color: royalblue;
  display: inline-block;
  margin: 1em;
  padding: 0.7em 0.98em;
  border-radius: 5px;
  
  text-transform: uppercase;
  border:rgb(226, 221, 221);
  cursor: pointer;
  color:whitesmoke;
  
}
h1{
  text-align: center;
  font-size: 10rem;
  color: whitesmoke;
  margin: 1rem;
  font-family: 'Reggae One', cursive;
  text-transform: uppercase;
  letter-spacing:1px;
  
}
h3{
  text-align: center;
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  text-decoration: underline;
  margin: 2rem;
  
}
p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: rgb(15, 15, 15);
  font-weight: bold;
  background-color: darkgrey;
  
  
}
.dirk{
  border: 25px solid rgba(230, 236, 230, 0.274);
  border-radius: 10px;  
  width: 30%;
  min-height: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  background-color: darkgrey;
  justify-content: space-around;
}
.buttons{
  background-color: darkgrey;
}
.test{
  min-height: 100vh;
  background-color:black;
  width:100%;
  display:flex;
  justify-content: center;  
  flex-direction: column;
  
}